<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>8*8</key>
	<array>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
	</array>
	<key>10*10</key>
	<array>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeLadderUp</string>
			<key>destinationIndex</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeLadderUp</string>
			<key>destinationIndex</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeSnakeDown</string>
			<key>destinationIndex</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeLadderUp</string>
			<key>destinationIndex</key>
			<integer>37</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeLadderUp</string>
			<key>destinationIndex</key>
			<integer>83</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeLadderUp</string>
			<key>destinationIndex</key>
			<integer>58</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeLadderUp</string>
			<key>destinationIndex</key>
			<integer>66</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeSnakeDown</string>
			<key>destinationIndex</key>
			<integer>33</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeSnakeDown</string>
			<key>destinationIndex</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeLadderUp</string>
			<key>destinationIndex</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeSnakeDown</string>
			<key>destinationIndex</key>
			<integer>59</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeLadderUp</string>
			<key>destinationIndex</key>
			<integer>90</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeSnakeDown</string>
			<key>destinationIndex</key>
			<integer>23</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeSnakeDown</string>
			<key>destinationIndex</key>
			<integer>72</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeSnakeDown</string>
			<key>destinationIndex</key>
			<integer>74</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeSnakeDown</string>
			<key>destinationIndex</key>
			<integer>77</integer>
		</dict>
		<dict>
			<key>bonus</key>
			<string>BonusTypeNone</string>
			<key>destinationIndex</key>
			<integer>-1</integer>
		</dict>
	</array>
</dict>
</plist>
